doctype html
html
  head
    title my jade template
  body
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000
    h1 Hello hoge1000